.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    
//    display: flex;
//    flex-direction: column;
//    flex-wrap: nowrap;
    
    @media only screen and (max-width:$bp-largest){
        margin:0;
        max-width: 100%;
        width: 100%;
    }
    
}

.header{
    font-size: 1.4rem; //so that this font-size can be inherited to the child elements which have already been set to 'inherit' (see input style)
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    
    display: flex;
    justify-content:space-between;
    align-items: center;

    @media only screen and (max-width:$bp-smallest){
        flex-wrap: wrap;
        height: 10rem;
        align-content: space-around;
    }
    
}

.content{
    display: flex;
    
    @media only screen and (max-width:$bp-medium){
        flex-direction: column;
    }
}

.sidebar{
    background-color: var(--color-grey-dark-1);
    flex:0 0 18%;

    display: flex;
    flex-direction: column;
    align-items: stretch; //just remaining: keep default so we don't need to set "width: 100%;" on the .side-nav class;
    justify-content:space-between;
    
//    @media only screen and (max-width:$bp-medium){
//        flex: 1;
//    }

    
}
.hotel-view{
    background-color: #fff;
    flex: 1;
}

.details{
    font-size: 1.4rem; //to be inherited
    
    display: flex;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line) ;
    padding: 4.5rem;
    
    @media only screen and (max-width:$bp-medium){
        padding: 3rem;
    }
    @media only screen and (max-width:$bp-small){
        flex-direction: column;
    }
}

.description{
    background-color: #fff;
    box-shadow: var(--shadow-light); 
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    
    @media only screen and (max-width:$bp-medium){
        padding: 2rem;
        margin-right: 3rem;
    }
    @media only screen and (max-width:$bp-small){
        margin-right: 0;
        margin-bottom: 3rem;
    }

}

.user-reviews{
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}